Libraries used: 
Pandas
Scikit learn: preprocessing, model selection, compose, linear model, ensemble, neural network, model selection, metrics , base
Category encoders
numpy
time 
sysy

Part 2: All the above except time and additionally: 

Optuna
matplotlib
impute
